<ion-view view-title="Application mail security">
  <ion-content>
    <br>
    <br>
    <br>
    <p>Appuyez une fois sur le bouton touch id</p>
    <img class="button button-block button-positive" ng-click="scan()" src="../img/id.png"/>
        <br>
        <br>
        <p>Appuyez une fois sur le bouton contact</p>
        <img class="button button-block button-positive" ng-click="contact()" src="../img/contact.png" />

        <img  class="fond" src="../img/back.png" />
  </ion-content>
</ion-view>